<div class="page-header">
  <%= link_to "Delete the Project", "/projects/#{@currentproject.id}/delete", :class => "btn btn-md  pull-right " %>

  <%= link_to "Go Back", "/projects", :class => "btn btn-md btn-success pull-right " %>

  <h1>Project WBS: </h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <% @task_list.each do |task| %>

      <h4><%=task.name %></h4>

      <% if task == @task_list.last %>
        <div class = "row">
          <form action="/tasks/create/">

            <div class="col-md-6">
              <div class="form-group">
                <input name="name" type="text" class="form-control input-md" placeholder="WBSL2 Activity">
                <input name = "project_id" type = "hidden" value="<%=@currentproject.id%>" >
                <input name = "wbslevel2" type = "hidden" value = "">
              </div>
            </div>

            <div class="col-md-6">
              <button type="submit" class="btn btn-success btn-md"> Add Task </button>
            </div>

          </form>
        </div>
      <% end %>
    <% end %>
    </div>
</div>



<!--  Task Model:
      t.string :name
      t.integer :project_id
      t.integer :parenttask
      t.integer :wbslevel2
      t.integer :wbslevel3
      t.integer :wbslevel4
      t.text :description
      t.string :responsible
      t.integer :cost
      t.integer :progress -->
